[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM-workspace/Megatron-LM
	url = git@github.com:shifangx/Megatron-LM.git
	branch = shifang/steptron_mcore
	shallow = true
[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = git@github.com:shifangx/Megatron-Bridge.git
	branch = shifang/steptron_mcore
	shallow = true
